
[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack_bolt = "*"
slack_sdk = "*"

[dev-packages]
black = "==21.11b1"
certifi = "*"
pylint = "*"

[requires]
python_version = "3.8"
